.cursor {
  width: 30px;
  height: 30px;
  border-radius: 50% ;
  border: 1px solid #00bcd4;;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 0 50px rgba(155, 188, 212, 0.5);
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 10000;
  transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease;
}

.cursor.hovering {
  width: 60px;
  height: 60px;
  background-color: rgba(0, 188, 212, 0.5);
  border-color: transparent;
}

